@import url("../css/fonts.css");
/* Begin footer related css declarations */
#footer-div{
    font-family: Raleway;
    font-size: 0.7em;
}
#footer-divider{
    width: auto;
    margin: 0.5% 40%;
    border: none;
    background-color: #ccc;
    color: #ccc;
    height: 1px;
}
.footer-icons{
    margin-right: 0.3%;
}
/* End footer related css declarations */