@import url("../css/fonts.css");
body{
    background-color:#131A1C;
    margin: 0;
}
/* Begin header related css declarations */
#header-div{
    background-color: #131A1C;
    color: white;
    font-family: Raleway;
}
#header-split{
    width: auto;
    margin-right: 86.5%;
    border: none;
    background-color: #a1a3a3;
    color: #a1a3a3;
    height: 2px;
}
#header-title{
    font-size: 5em;
}
.header-sub-text{
    color: #a1a2a3;
    font-size: 0.8em;
}
#header-text-group{
    padding-top: 5%;
    padding-left:10%;
    padding-bottom:5%;
}
.header-text{
    max-width: 30%;
}
a:visited{
    color:pink;
}
/* End header related css declarations */
/* Begin body related css declarations */
#pictures-div{
    margin-left:5%;
    margin-right:5%;
    font-family: Raleway;
    color:white;
}
.wrapper-div{
    height:400px;
    width: 25%;
    float: left;
    
}
.wrapper-div:hover video:not(:hover){
    -webkit-filter:none;
    filter: none;
}
.wrapper-div:hover div:not(:hover){
    display: none;
}
.wrapper-div:hover hr:not(:hover){
    display: none;
}
.overlay-text{
    position: relative;
    padding: 15%;
    margin-right: 5%;
}
.overlay-head{
    font-size: 2em;
    text-align: center;
}
.overlay-subtext{
    padding-top: 25%;
    font-size: 0.7em;
}
.autoplayVideo{
    position: absolute; 
    width:21%;
    -webkit-filter: blur(20px)  brightness(60%);
    filter: blur(20px)  brightness(60%);
    overflow: hidden;
}
.autoplayVideo:hover{
    -webkit-filter:none;
    filter: none;
}

/* End body related css declarations */

/* Begin license related css declarations */
#license-div{
    float:none;
    clear: both;
    padding-top:5%;
    background-color: #131A1C;
    color: white;
    font-family: Raleway;
}
#license-text-header{
    font-size: 3em;
}
#license-text{
    padding-top:6%;
    width:25%;
    padding-left:10%;
    float:left
}
#license-text-divider{

    width: auto;
    margin-right: 20%;
    border: none;
    background-color: #a1a3a3;
    color: #a1a3a3;
    height: 2px;
}
#license-image{
    width:47%;
    float:left;
    padding-left:7.5%;
}
#agplv3{
    max-width: 100%;
}
/* End license related css declarations*/
/* Begin footer related css declarations */
#footer-div{
    float: none;
    clear: both;
    background-color: #131A1C;
    color: #a1a3a3;
    font-family: Raleway;
    font-size: 0.7em;
}
#logo-div{
    padding-top: 2%;
}
.footer-divider{
    width: auto;
    margin: 0.5% 40%;
    border: none;
    background-color: #a1a3a3;
    color: #a1a3a3;
    height: 1px;
}
#footer-text-div-bottom{
    padding-bottom: 2%;
}
.footer-icons{
    margin-right: 0.3%;
}
/* End footer related css declarations */