
/* Begin header related css declarations */
#header-div{

    float: none;
    clear: both;
    background-color: transparent;
    color: white;
    font-family: Raleway;
    position: fixed;
    Width: 100%;
    top: 0;
    margin-left:60%;
    margin-top:2%;
}
#anchor_link{
    color: #a1a3a3;
    text-decoration: none;
}
#navigation-div{
    float:left;
    margin-left: 2%;
}
.header_anchors_identifiers{
    color: pink;
}
/* End header related css declarations */
/* Begin main-page related css declarations */
#main-page-div{
    background-color: #282c34;
    color: white;
    font-family: Raleway;
}
#main-page-title{
    font-size: 5em;
    display: inline;
    border-bottom: 1px solid;
}
.main-page-sub-text{
    margin-top:1.5%;
    color: #a1a2a3;
    font-size: 0.8em;
}
#main-page-text-group{
    float: left;
    max-width: 30%;
    padding-top: 7%;
    padding-left:10%;
    padding-bottom:5%;
}
a:link{
    color: pink;
}
a:visited{
    color:pink;
}
#main-page-image{
    float: left;
    max-width: 45%;
    padding-left:5%;
    padding-bottom:5%;
}
#ipad_image{
    max-width: 100%;
}
/* End main-page related css declarations */
/* Begin body related css declarations */
#pictures-div{
    margin-left:5%;
    margin-right:5%;
    font-family: Raleway;
    color:white;
}
.wrapper-div{
    font-family: Raleway;
    color:white;
    
}
.overlay-text{
    margin-top: 15%;
    float: left;
    margin-right: 5%;
    width: 25%;
    margin-left:10%;
}
.overlay-head{
    font-size: 2em;
    text-align: center;
}
.overlay-head-wrapper{
    display: inline;
    border-bottom: 1px solid;
}
.overlay-body{
    padding-left:10%;
    margin-top:5%;
}
.overlay-subtext{
    font-style: italic;
    padding-left:10%;
    padding-top: 10%;
    font-size: 0.7em;
}
li {
    margin: 0;
    padding: 0.2em;
}
.autoplayVideo{
    float: left;
    max-width: 30%;
    margin-left:15%;
    margin-top: 5%;
    margin-bottom: 10%;
    -webkit-filter: blur(20px)  brightness(60%);
    filter: blur(20px)  brightness(60%);
    overflow: hidden;
}
.autoplayVideo:hover{
    -webkit-filter:none;
    filter: none;
}

/* End body related css declarations */

/* Begin license related css declarations */
#license-div{
    float:none;
    clear: both;
    background-color: #282c34;
    color: white;
    font-family: Raleway;
    padding-bottom: 25%;
}
#license-text-header{
    font-size: 3em;
    display:inline;
    border-bottom: 1px solid;
}
#license-text{
    width:30%;
    padding-left:10%;
    float:left
}
#license-text-body{
    padding-top: 5%;
}
#license-text-divider{

    width: auto;
    margin-right: 42%;
    border: none;
    background-color: #a1a3a3;
    color: #a1a3a3;
    height: 2px;
}
#license-image{
    width:35%;
    float:left;
    padding-left:12%;
    padding-top:4%;
}
#agplv3{
    max-width: 100%;
}
/* End license related css declarations*/
/* Begin footer related css declarations */
#footer-div{
    float: none;
    clear: both;
    background-color:transparent;
    color: #a1a3a3;
    font-family: Raleway;
    font-size: 0.7em;
    position: fixed;
    Width: 100%;
    bottom: 0;
}
#logo-div{
    padding-top: 2%;
}
.footer-divider{
    width: auto;
    margin: 0.5% 47%;
    border: none;
    background-color: #a1a3a3;
    color: #a1a3a3;
    height: 1px;
}
#footer-text-div-bottom{
    padding-bottom: 2%;
}
.footer-icons{
    margin-right: 0.3%;
}
/* End footer related css declarations */
/* Begin testimonial related css declarations */
.slick-wrapper{
    margin-left:10%;
    margin-right:10%;
}
.user-image-wrapper{
    width:400px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;

    float: left;
}
.user-image{
    width:400px;
    height: auto;
}
.user-testimonial{
    width:50%;
    float: left;
}
.user-testimonial{
    color: white;
    font-family: Raleway;
    margin-left:10%;
    margin-top:5%;
}
.user-testimonial-name{
    font-size: 3em;
}
.user-testimonial-faculty{
    color: #a1a3a3;
}
/* End testimonial related css declarations */